

<style type="text/css">    body,div,p,td,blockquote,ul,ol,li  {

    	font-family : Arial, 

         	 Helvetica, sans-serif;

    	font-size : 10pt;

    	text-decoration : none;

    }

    

    strong,th  {

    	font-family : Arial, Helvetica, sans-serif;

    	font-size : 11pt;

    	font-style : normal;

    }

    

    b  {

    	font-weight : bold;

    }

    

    i  {

    	font-style : italic;

    }

    

    h1  {

    	font-family : Arial, Helvetica, sans-serif;

    	font-size : 14pt;

    	font-weight : bold;

    }

    

    h2  {

    	font-family : Arial, Helvetica, sans-serif;

    	font-size : 13pt;

    	font-weight : bold;

    }

    

    h3  {

    	font-family : Arial, Helvetica, sans-serif;

    	font-size : 12pt;

    	font-weight : bold;

    	color : maroon;

    }

    

    h4  {

    	font-family : Arial, Helvetica, sans-serif;

    	font-size : 11pt;

    	font-weight : bold;

    }

    

    h5  {

    	font-family : Arial, Helvetica, sans-serif;

    	font-size : 11pt;

    	font-weight : normal;

    }

    

    h6  {

    	font-family : Arial, Helvetica, sans-serif;

    	font-size : 11pt;

    	font-weight : normal;

    	font-style : italic;

    }

    

    a  {

    	color : Navy;

    	text-decoration : none;

    }

    

    .small  {

    	font-size : 8pt;

    }

    

    td.solas  {

    	color : maroon;

    }

    

    span.solas  {

    	color : maroon;

    	font-weight : bold;

    }

    

   DIV.address  {

 	margin-left : 15pt;

 }  

 

 </style>



